@model AgriEnergyConnect.Models.Farmer
@{
    ViewData["Title"] = "Add Farmer";
}

<h2 class="mb-4">Add Farmer</h2>

<form asp-controller="Farmers" asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Location" class="form-label"></label>
        <input asp-for="Location" class="form-control" />
    </div>

    <button id="submitbutton" type="submit" class="btn btn-success w-100">Save</button>
    
  
</form>
<script>
    document.querySelector("form").addEventListener("submit", function(e) {
        alert("Form submitted!");
    });
</script>